<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Contacts Manager</title>
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-animate.min.js"></script>
</head>
<body ng-controller="ContactsController">

<span class="templates-btn">
    <input type="button" value="column wrap template" ng-click="templateName = 'red-template'" class="btn red-btn">
    <input type="button" value="row wrap space-between template" ng-click="templateName = 'green-template'"
           class="btn green-btn">
    <input type="button" value="row wrap center template" ng-click="templateName = ''" class="btn blue-btn">
</span>

<div class="container-fluid main-container {{templateName}}">
    <h1>Contact List Manager</h1>

    <div class="sort-filter-container">
        <p>Search for</p>
        <input ng-model="filterText">

        <p>Order by
            <label><input type="radio" name="sort-by" ng-click="predicate = 'name'; reverse=false">Name</label>
            <label><input type="radio" name="sort-by" ng-click="predicate = 'phoneNumber'; reverse=false">Phone
                number</label>
        </p>
    </div>

    <div class="flex-container">
        <div class="contact-item"
             ng-repeat="contact in contactList | filter:filterText  | orderBy:predicate:reverse">
            <div ng-show="showContact" class="show-contact">
                <div class="edit-remove"><span class="glyphicon glyphicon-pencil"
                                               ng-click="showContact=false; showEdit=true"></span>&nbsp;
                    <span class="glyphicon glyphicon glyphicon-remove" confirm-popup="Do you really want to delete?"
                          confirm-btn-type="btn-danger"
                          confirm-btn="Delete"
                          on-action="deleteSelectedContact(contact)"></span>
                </div>

                <img ng-src="images/{{contact.picture}}" alt="Contact Picture" src="">

                <p class="name">{{contact.name}}</p>

                <p class="about">{{contact.about}}</p>

                <p class="phone">{{contact.phoneNumber | phone}}</p>
            </div>


            <div ng-show="showEdit" class="edit-form">
                <label for="change-name">Change name</label>
                <input id="change-name" ng-model="changedContact.name" class="form-control"
                       placeholder="{{contact.name}}">
                <label for="change-description">Change information</label>
                <textarea id="change-description" ng-model="changedContact.about" class="form-control"
                          placeholder="{{contact.about}}"></textarea>
                <label for="change-phone">Change phone number</label>
                <input id="change-phone" ng-model="changedContact.phoneNumber" class="form-control"
                       placeholder="{{contact.phoneNumber | phone}}">

                <div><input type="button" value="Confirm"
                            ng-click="changeContactData(contact, changedContact); showContact=true; showEdit=false"
                            class="btn btn-default">
                    <input type="button" value="Cancel" ng-click="showContact=true; showEdit=false"
                           class="btn btn-default"></div>
            </div>
        </div>


        <div class="contact-item add-contact-btn" ng-show="showBtn">
            <div ng-click="changeContactState()"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
        <div class="contact-item add-contact-form" ng-show="showForm">
            <label for="add-name">Enter name</label>
            <input type="text" id="add-name" ng-model="newName" class="form-control">
            <label for="add-description"> Add information</label>
            <textarea id="add-description" ng-model="newInfo" class="form-control"></textarea>
            <label for="add-phone">Enter phone number</label>
            <input type="text" id="add-phone" ng-model="newPhone" class="form-control">

            <div><input type="button" value="Confirm" ng-click="addNewContact()" class="btn btn-default">
                <input type="button" value="Cancel" ng-click="changeContactState()" class="btn btn-default"></div>
        </div>
    </div>
</div>


<script src="scripts/app.js"></script>
<script src="scripts/controllers/ContactController.js"></script>
<script src="scripts/services/ContactData.js"></script>
<script src="scripts/filters/phoneFilter.js"></script>
<script src="scripts/directives/confirm-popup-directive.js"></script>
<script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
</body>
</html>