.templates-btn {
  float: right;
}
.templates-btn input[type="button"] {
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #FFF;
}
.templates-btn .red-btn {
  background-color: red;
}
.templates-btn .green-btn {
  background-color: green;
}
.templates-btn .blue-btn {
  background-color: blue;
}
.container {
  font-family: sans-serif;
}
.container h1 {
  color: #3299cc;
}
.container .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.container .contact-item {
  width: 20%;
  min-width: 200px;
  max-width: 400px;
  padding: 20px;
  margin: 3px;
  background-color: #F9f9f9;
}
.container .contact-item img {
  display: block;
  margin: 0 auto;
  height: 48px;
}
.container .contact-item .name {
  text-align: center;
}
.container .contact-item .about {
  font-size: 12px;
}
.container .contact-item .phone {
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}
.red-template h1 {
  color: red;
}
.red-template .flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
