body {
  padding: 0 20px;
}
.templates-btn {
  float: right;
}
.templates-btn input[type="button"] {
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #FFF;
}
.templates-btn .red-btn {
  background-color: red;
}
.templates-btn .green-btn {
  background-color: green;
}
.templates-btn .blue-btn {
  background-color: blue;
}
.container {
  font-family: sans-serif;
}
.container h1 {
  color: #3299cc;
}
.container .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.container .contact-item {
  width: 20%;
  min-width: 200px;
  padding: 20px;
  margin: 3px;
  background-color: #F9f9f9;
}
.container .contact-item img {
  display: block;
  margin: 0 auto;
  height: 48px;
}
.container .contact-item .name {
  text-align: center;
  font-weight: bold;
}
.container .contact-item .about {
  font-size: 12px;
}
.container .contact-item .phone {
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}
.container .sort-filter-container {
  /*  float: right;*/
}
.container .sort-filter-container p {
  display: inline;
  font-weight: bold;
}
.container .sort-filter-container p:last-of-type {
  float: right;
}
.container .sort-filter-container p label {
  font-weight: normal;
}
.red-template h1 {
  color: red;
}
.red-template .flex-container {
  flex-flow: column nowrap;
  width: 0;
  margin: 0 auto;
}
.red-template .contact-item {
  min-height: 200px;
  background-color: #fbdbdb;
}
.red-template .contact-item .phone {
  color: darkred;
}
.green-template h1 {
  color: green;
}
.green-template .flex-container {
  justify-content: space-between;
}
.green-template .contact-item {
  background-color: #c2f0c2;
  margin: 10px 10%;
}
.green-template .contact-item .phone {
  color: darkgreen;
}
