@highlight-color : #3299CC;
@main-color : #000;

@light-red: #f08080;
@light-green: #70dc70;

body{
  padding: 0 20px;
}

.templates-btn {
  float: right;
  input[type="button"] {
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: #FFF;
  }
  .red-btn {
    background-color: red;
  }
  .green-btn {
    background-color: green;
  }
  .blue-btn {
    background-color: blue;
  }
}

.container {
  font-family: sans-serif;

  h1 {
    color: @highlight-color;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  .contact-item {
    width: 20%;
    min-width: 200px;
    padding: 20px;
    margin: 3px;
    background-color: #F9f9f9;
    img {
      display: block;
      margin: 0 auto;
      height: 48px;
    }
    .name {
      text-align: center;
      font-weight: bold;
    }
    .about {
      font-size: 12px;
    }
    .phone {
      text-align: center;
      color: cornflowerblue;
      font-weight: bold;
    }
  }

  .sort-filter-container {
  /*  float: right;*/
    p {
      display: inline;
      font-weight: bold;
      &:last-of-type {
        float: right;
      }
      label {
        font-weight: normal;
      }

    }
  }
}

.red-template {
  h1 {
    color: red;
  }

  .flex-container {
    flex-flow: column nowrap;
    width: 0;
    margin: 0 auto;
  }

  .contact-item {
    min-height: 200px;
    background-color: lighten(@light-red, 20%);
    .phone {
      color: darkred;
    }
  }
}

.green-template {
  h1 {
    color: green;
  }

  .flex-container {
    justify-content: space-between;
  }

  .contact-item {
    background-color: lighten(@light-green, 20%);
    margin: 10px 10%;
    .phone {
      color: darkgreen;
    }
  }
}