body {
  padding: 20px 20px;
}
.templates-btn {
  float: right;
}
.templates-btn input[type="button"] {
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #FFF;
}
.templates-btn .red-btn {
  background-color: #f2473f;
}
.templates-btn .green-btn {
  background-color: #99cc32;
}
.templates-btn .blue-btn {
  background-color: #3299cc;
}
.main-container {
  font-family: sans-serif;
}
.main-container h1 {
  color: #3299cc;
}
.main-container .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.main-container .flex-container .edit-form div {
  margin-top: 5px;
}
.main-container .contact-item {
  width: 20%;
  min-width: 200px;
  padding: 20px;
  margin: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 6px #d3d3d3;
}
.main-container .contact-item img {
  display: block;
  margin: 0 auto;
  height: 48px;
}
.main-container .contact-item .name {
  text-align: center;
  font-weight: bold;
}
.main-container .contact-item .about {
  font-size: 12px;
}
.main-container .contact-item .phone {
  text-align: center;
  color: #3299cc;
  font-weight: bold;
  font-size: 1.3em;
}
.main-container .contact-item .edit-remove {
  text-align: right;
  visibility: hidden;
}
.main-container .contact-item .edit-remove span {
  cursor: pointer;
  color: #939393;
}
.main-container .show-contact.ng-hide-add,
.main-container .show-contact.ng-hide-remove,
.main-container .edit-form.ng-hide-add,
.main-container .edit-form.ng-hide-remove {
  transition: all linear 0.3s;
  /*   transform: rotateX(180deg);*/
  opacity: 0;
}
.main-container .contact-item:hover .edit-remove {
  visibility: visible;
}
.main-container .add-contact-btn div {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 150px;
  background-color: #c6c6c6;
  margin: 0 auto;
  text-align: center;
}
.main-container .add-contact-btn div span.glyphicon-plus {
  top: 35%;
  font-size: 3em;
  color: #f9f9f9;
}
.main-container .add-contact-form label {
  display: block;
}
.main-container .add-contact-form div {
  margin-top: 5px;
}
.main-container .sort-filter-container p {
  display: inline;
  font-weight: bold;
}
.main-container .sort-filter-container p:last-of-type {
  float: right;
}
.main-container .sort-filter-container p label {
  font-weight: normal;
}
.main-container .popover-inner {
  padding: 10px;
}
.main-container .popover-inner .popover-content {
  padding: 0;
}
.main-container .popover-inner .popover-buttons {
  margin-top: 25px;
}
.red-template h1 {
  color: #f2473f;
}
.red-template .flex-container {
  flex-flow: column wrap;
  height: 100%;
}
.red-template .contact-item {
  min-height: 200px;
  background-color: #fbdbdb;
}
.red-template .contact-item .phone {
  color: #f2473f;
}
.red-template .contact-item .edit-remove span {
  color: #931111;
}
.red-template .add-contact-btn div {
  background-color: #eb5252;
}
.red-template .add-contact-btn span.glyphicon-plus {
  color: #fbdbdb;
}
.green-template h1 {
  color: #99cc32;
}
.green-template .flex-container {
  justify-content: space-between;
}
.green-template .contact-item {
  background-color: #e0f2ad;
  margin: 10px 10%;
}
.green-template .contact-item .phone {
  color: #99cc32;
}
.green-template .contact-item .edit-remove span {
  color: #495f0e;
}
.green-template .add-contact-btn div {
  background-color: #8db71c;
}
.green-template .add-contact-btn div span.glyphicon-plus {
  color: #e0f2ad;
}
